%h1 TV Channel list

%form{method: :post, action: "/tv/off"}
  %button OFF

%ol
  - @channels.each do |name, _|
    %li
      = name
      %form{method: :post, action: "/tv/on"}
        %input{type: :hidden, name: :next_channel, value: name}
        %button ON
    